<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Metamask Blockchain</a>
  <div *ngIf="ownerIsUser">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="showFormCreatePoll = !showFormCreatePoll"
    >
      {{ createPollCaption }}
    </button>
  </div>
  <div>
    <a
      href="https://cloud.google.com/application/web3/faucet/ethereum/sepolia"
      target="_blank"
      class="btn"
      >Google ETH</a
    >

    <a href="https://faucets.chain.link/sepolia" target="_blank" class="btn"
      >Chainlink ETH</a
    >
    <a
      href="https://github.com/JosVermoesen/blockchain-poll"
      target="_blank"
      class="btn"
      >Github Source code</a
    >
  </div>
</nav>

<section class="bg-light text-center">
  <h3>Poll Contract (web3 v1.7.3)</h3>
  <small>Powered By Sepolia Testnet on Angular 17</small>
</section>

<app-poll-create
  *ngIf="showFormCreatePoll"
  (pollCreated)="handlePollCreate($event)"
></app-poll-create>

<section id="poll-history">
  <div class="container">
    <div class="row">
      <div class="d-flex">
        <div class="container poll-list">
          <div class="col-ld-5">
            <div *ngIf="!showFormCreatePoll">
              <app-poll
                *ngFor="let poll of polls | async"
                [question]="poll.question"
                [voted]="poll.voted"
                [votes]="poll.results"
                [pollImage]="poll.thumbnail"
                (click)="setActivePoll(poll)"
              ></app-poll>
            </div>
          </div>
        </div>

        <div class="container poll-split">
          <div class="col-ld-1"></div>
        </div>

        <div class="container poll-detail">
          <div class="col-ld-5">
            <div *ngIf="!showFormCreatePoll">
              <app-poll-vote
                *ngIf="activePoll"
                [id]="activePoll.id"
                [voted]="activePoll.voted"
                [question]="activePoll.question"
                [options]="activePoll.options"
                [results]="activePoll.results"
                (pollVoted)="handlePollVote($event)"
              ></app-poll-vote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
